
:root{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $clr-light;
    color: $clr-dark;
    min-height: 100vh;

}

a {
    color: $clr-dark;
    text-decoration: none;
}

header {
    background-color: $clr-main;
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    box-shadow: $box-shadow;

        .titulo{
        font-size: 2.5rem;
            @include mobile{
            font-size: 1.2rem;
            }
            @include tablet{
                font-size: 2rem;
            }
        }
}