main {
    padding: 2rem;
}

.main-grid {
    display: flex;
    flex-direction: column;
    gap: 1em;
        @include mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        }
        @include tablet{
        grid-template-columns: repeat(3, 1fr);
        }
        @include TV{
        grid-template-columns: repeat(4, 1fr);
        }
        @include PC{
        grid-template-columns: repeat(5, 1fr);
        }
}