header {
    background-color: $clr-main;
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    box-shadow: $box-shadow;

        .titulo{
        font-size: 2.5rem;
            @include mobile{
            font-size: 1.2rem;
            }
            @include tablet{
                font-size: 2rem;
            }
        }
}